SMTP_USER=tu_usuario
SMTP_PASS=tu_password
SMTP_HOST=smtp.tuempresa.com
SMTP_PORT=587

ALERT_EMAIL=destino@empresa.com

# SNMPv3
SNMPV3_USER=testuser
SNMPV3_AUTH_PWD=auth123
SNMPV3_PRIV_PWD=priv123
SNMPV3_AUTH_PROTOCOL=SHA
SNMPV3_PRIV_PROTOCOL=AES
